@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* 
#################################################################
Base Elements
#################################################################
*/

BODY
{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",
    "Myriad Pro","Segoe UI",   /* windows fonts */
    "Myriad", Verdana;         /* mac fonts */
  font-size: 12px;
  font-weight: 400;
}

A
{
  text-decoration: none;
}

TABLE
{
  font-size: 12px;  /* tables require separate font declaration */
  margin:0;
  padding:0;
  border-collapse:collapse;
}

TD
{
font-size: 1.2em;
border: 0px;
}


/* 
#################################################################
Titlebar Elements
#################################################################
*/

#titlebar
{
  background-color: #666666;
  font-size: 2.0em;
  font-weight: 300;
  color: white;
  padding: 0.5em;
}

#titlebar A
{
  color: white;
  -webkit-transition:color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#titlebar A:hover
{
  color: #C9C9C9;
}

#titlebar UL
{
margin: 0;
padding: 0;
display:table;
list-style-type: none;
}

#titlebar LI
{
margin: 0;
margin-right: 2em;
padding: 0;
padding-left: 1em;
display: table-cell;
vertical-align: middle;
letter-spacing: 0.05em;
text-wrap: none;
white-space:nowrap;
}


#titlebar LI.logo
{    
  border-radius: 8px;
  box-shadow: 1px 1px 1px #4C4C4C;
  padding: 0.2em;
}

#titlebar LI.logo IMG
{    
  border-radius: 8px;
  height:2em;
  width:auto;
  padding-right: 0.2em;
}


#titlebar LI.logo IMG.logo
{   
  border-radius: 8px;
  margin-left: 0.2em;
  padding-right: 0em; /* turn off padding for last logo on right */
}


/* 
#################################################################
Menubar Elements
#################################################################
*/

#menubar
{
background-color: #F7F7F7;
font-size: 1.0em;
font-weight: 600;
color: white;
padding: 2em;
margin: auto;
}

#menubar A
{
  color: #333333;
  -webkit-transition:color .2s ease-in-out;
  transition: color .2s ease-in-out;

}

#menubar A:hover
{
  color: #999999;
}

#menubar UL
{
margin: 0;
padding: 0;
display:table;
list-style-type: none;
}

#menubar LI
{
margin: 0;
padding: 0;
width: 10em;
padding-right: 0.5em;
display: table-cell;
vertical-align: top;
text-align: center;
white-space: normal;
}

#menubar LI.information
{
  float: right;
}

#menubar LI A
{
  display: block;
  min-height: 6em;   
}

#menubar LI IMG
{  
  padding: 4px;
  display: block;
  clear: both;
  margin: auto; /* centers the image in the block */
  height: 40px;
  width: auto;
  
}

/* 
#################################################################
Generic Container for holding model and content containers
#################################################################
*/

#main-container
{
display: table;
margin-top: 2em;
white-space: nowrap;
color: #333333;
font-size: 1.4em;
font-weight: 400;
}

#model-container
{
  padding: 1.2em;
  padding-top: 0em; /* no additional spacing in addition to container margin */
  vertical-align: top;
  display: table-cell;
  float: left;
  min-width: 16em;
  overflow-y: auto;
  max-height: 60em;
}

#content-container
{
  padding: 1.2em;
  padding-top: 0em; /* no additional spacing in addition to container margin */
  vertical-align: top;
  display: table-cell;
  overflow-y: auto;
  max-height: 60em;
  white-space: normal; 
}

/* 
#################################################################
Model Container holds class and content sections
#################################################################
*/


#model-container::-webkit-scrollbar {
    width: 12px;
}
 
#model-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#model-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#model-container A
{
  color: #333333;
  -webkit-transition:color .2s ease-in-out;
  transition: color .2s ease-in-out;

}

#model-container A:hover
{
  color: #999999;
}


#model-container UL
{
margin: 0;
padding: 0;
display:table;
width: 100%;
list-style-type: none;
}

#model-container LI
{
margin: 0;
padding: 0;
padding: 0.2em;
padding-right: 0.5em;
vertical-align: top;
text-align: left;
white-space: normal;
border-top: 1px #EFEFEF solid;
}

#model-container LI.altcolor
{
background-color: #F7F7F7;
}

#model-container LI.lastclass
{
border-bottom: 1px #CCCCCC solid;
}

#model-container LI A
{
  display: block; 
  width: 100%;
}

#model-container LI SPAN
{
width: 100%;
margin:auto;
}

#model-container LI IMG
{  
  display:block;
  border: 0px;
  margin: 0px;
  float:right;
  height:12px;
  width: auto;
  padding: 4px;
  padding-left: 0.5em;
  margin: auto; /* centers the image in the block */  
}

#model-container LI DIV.placeholder
{  
  display:block;
  border: 0px;
  margin: 0px;
  float:right;
  height:12px;
  width: 12px;
  padding: 4px;
  margin: auto; /* centers the image in the block */  
}



/* 
#################################################################
Content Container holds class listings for the model
#################################################################
*/

#content-container DIV.content
{
margin: 0;
padding: 0;
width: 100%;
display:block;
clear:both;
}

#content-container IMG.diagram
{
  max-width: 100%;
  max-height: 100%;
}

#content-container SPAN.namespace
{
  font-size: 1em;
  font-weight: 600;  
  border: 1px #999999 solid;
  background-color: #F7F7F7;
  padding: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #EEEEEE;
  white-space: nowrap;
}

#content-container SPAN.namespace A
{
  color: #333333;
  -webkit-transition:color .2s ease-in-out;
  transition: color .2s ease-in-out;

}

#content-container SPAN.namespace A:hover
{
  color: #999999;
}


#content-container SPAN
{
  display:block;
}

#content-container SPAN IMG
{
  display:block;
  float:left;
  padding: 4px;
  margin-right: 0.5em;
  height: 1em;
  width: auto;
}

#content-container SPAN.title
{
  font-size: 3em;
  display:inline-block;
  color: #316BAA;
}


#content-container SPAN.header
{
font-size:2em;
font-weight:400;
color:#333333;
}

#content-container SPAN.section
{
  display: block;
  clear: both;
  color: #333333;
  white-space: nowrap;
  padding: 0.2em;
  padding-bottom: 0.5em;
  width:100%;
}

#content-container SPAN.definition
{
  display:inline-block;
  padding:1em;
  background-color: #D6E6EB;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  margin-top: .5em;
  min-width: 20em;
}

#content-container SPAN.description
{
  color: #333333;
}

#content-container SPAN.label
{
  font-weight: 600;  
  color: #333333;
}


#content-container TABLE.title TD
{
  vertical-align:bottom;
  white-space:nowrap;
}

#content-container TABLE.title TD
{
  vertical-align:bottom;
  white-space:nowrap;
}

#content-container TABLE.title TD.namespace
{
  padding-bottom: 0.75em; /* equivalent to baseline height of title text */
  padding-right: 0.5em;
}


#content-container TABLE.attribute
{
max-width:80em;
}

#content-container TABLE.attribute TR.altcolor TD
{
  background-color: #F7F7F7;
}

#content-container TABLE.attribute TD
{
  vertical-align:top;
  padding: 0.5em;
  padding-right:1em;  
  border: 1px solid #EFEFEF;
  border-left: 0px;
  border-right: 0px;
}

#content-container TABLE.attribute TD.header
{
  border: 0px;
  padding-top: 1em;
}
